<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="AuditFilesLocation" value="E:\Projects\SouthPaw\audit\" />
    <add key="SalesAccountNumber" value="4010" />
    <add key="ShippingAccountNumber" value="5330" />
    <add key="CashAccountNumber" value="1000" />
    <add key="CheckingAccountNumber" value="1010" />
    <add key="EndpointURL" value="https://api.xero.com/" />
    <add key="APICertFilePath" value="E:\Projects\SouthPaw\Development\public_privatekey_prod.pfx" />
    <add key="APICertPwd" value="S0uthp4w" />
    <add key="ConsumerKey" value="IDNHXKUG81RODGRSJF7KBX96Y8J0C4" />
    <add key="ConsumerSecret" value="PVFSMC0RT3WDM2LYKGBNBG0LFSERSA" />
    <add key="DailyRun" value="N" />
    <add key="StartDate" value="3/31/2017" />
    <add key="EndDate" value="4/1/2017"/>
    <add key="PaymentBackDate" value="3/30/2017" />
    <add key="EmailResults" value="N" />
    <add key="InvoiceStatus" value="Draft"/>
    <add key="SMTPServer" value="smtp.saber98.com"/>
    <add key="SMTPPort" value="2025"/>
    <add key="SMTPAuth" value="rflowers@saber98.com"/>
    <add key="SMTPPass" value="Sp3ct3r399"/>
    <add key="NotificationSubject" value="Xero Integration Daily Status" />
    <add key="FromEmail" value="rflowers@saber98.com"/>
    <add key="FromText" value="SIMS Integration Notify"/>
    <add key="SupportEmail" value="flowersr99@gmail.com" />
    <add key="ToEmail" value="daphnepaw@gmail.com, sandypaw@comporium.net, flowersr99@gmail.com, " />
    <add key="SIMSUserId" value="466870"/>
    <add key="LoggerId" value="-1" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="SIMSDataEntities" connectionString="metadata=res://*/SIMSEntities.csdl|res://*/SIMSEntities.ssdl|res://*/SIMSEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;port=3306;;user id=root;password=Spectere99;persistsecurityinfo=True;database=printmgr&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.104.0" newVersion="1.0.104.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>